body {
  padding-top: 50px;
  padding-bottom: 20px;
}

input.error, .error .form-control {
    border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.success .form-control {
    border-color: #3c763d;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.caption h3{
    text-align: center;
}

.grid-view .button-column {
    text-align: center !important;
    width: 80px !important;
}